@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ybtew9');
	src:url('../fonts/icomoon.eot?#iefixybtew9') format('embedded-opentype'),
	url('../fonts/icomoon.woff?ybtew9') format('woff'),
	url('../fonts/icomoon.ttf?ybtew9') format('truetype'),
	url('../fonts/icomoon.svg?ybtew9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
	content: "\f004";
}
