@charset "UTF-8";

.full-image-background {
	height: 800px;
	background: url(../img/photo-3-sepia.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.address {
	&-title {
		font-family: $base-font-family;
		font-size: 1em;
	}

	&-text {
		margin-bottom: 0;
	}

	&-button {

	}
}

.time {
	color : $red;
	font-size: 1.2em;
	font-weight: bold;
}

.lifou {
	height: 800px;
	background: url(../img/lifou.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.block.lifou {
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-end;
	padding-top: 100px;
	padding-right: 100px;
}
