@charset "UTF-8";

.full-image-background {
	@include full-image-background('../img/photo-3-sepia.jpg');
	height: 800px;

	@media (max-width: 950px){
		height: 470px;
	}

}

.address {
	&-title {
		font-family: $base-font-family;
		font-size: 1em;
	}

	&-text {
		margin-bottom: 0;
	}

	&-button {
		@include button($red);
		margin-top: 15px;
	}
}

.time {
	color : $red;
	font-size: 1.2em;
	font-weight: bold;
}

.lifou {
	@include full-image-background('../img/lifou.jpg');
}

.block.lifou {
	position: relative;
	height: 700px;

	> .flip-container {
		position: absolute;
		right: 40px;
		top: 90px;
	}
}

@mixin card-avatar($orientation) {

	&-image {
		height: 200px;
		border-radius: 500px;
		border: 2px solid $white;
		transition: box-shadow .25s ease;

		@if $orientation == 'right' {
			float: right;
			margin-left: 40px;
		} @else if $orientation == 'left' {
			float: left;
			margin-right: 40px;
		} @else if $orientation == 'top' {

		}

		&:hover {
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
		}

		&_small {
			height : 150px;
			border-radius: 500px;
			border: 2px solid $white;
			transition: box-shadow .25s ease;
			&:hover {
				box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
			}
		}
	}

	&-title, &-text, &-link {

		@if $orientation == 'right' {
			text-align: right;
		} @else if $orientation == 'left'{
			text-align: left;
		} @else if $orientation == 'top' {

		}


	}

	&-title {
		&_small {
			font-size: 1.5em;
		}
	}

	&-text {
		&_small {
			font-size: 0.9em;
		}
	}

	&-link {
		display: block;
	}
}

.card-avatar-right {
	@include card-avatar('right');
}

.card-avatar-left {
	@include card-avatar('left');
}

.card-avatar-top {
	@include card-avatar('top');
}
