@charset "UTF-8";

.full-image-background {
	@include full-image-background('../img/photo-3-sepia.jpg');
	height: 800px;
}

.address {
	&-title {
		font-family: $base-font-family;
		font-size: 1em;
	}

	&-text {
		margin-bottom: 0;
	}

	&-button {
		@include button($red);
		margin-top: 15px;
	}
}

.time {
	color : $red;
	font-size: 1.2em;
	font-weight: bold;
}

.lifou {
	@include full-image-background('../img/lifou.jpg');
}

.block.lifou {
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-end;
	padding-top: 100px;
	padding-right: 100px;
}

.card-avatar {
	margin: 0 50px 0 0;

	&-image {
		height: 200px;
		border-radius: 500px;
		float: right;
		margin: 20px 0 0 50px;
		transition : box-shadow .25s ease;
		border : 2px solid $white;

		&:hover {
			box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		}
	}

	&-title, &-text, &-link {
		text-align: right;
	}

	&-link {
		display: block;
	}

	&-inverse {
		margin: 0 0 0 50px;

		&-image {
			height: 200px;
			border-radius: 500px;
			float: left;
			margin: 20px 50px 0 0;
			transition : box-shadow .25s ease;
			border : 2px solid $white;

			&:hover {
				box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
			}
		}

		&-title, &-text, &-link {
			text-align: left;
		}

		&-link {
			display: block;
		}
	}
}
