* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input[type="submit"] {
  border: 1px solid #2459a6;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #89a8d5;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #477dca;
  background-image: -webkit-linear-gradient(#477dca, #2760b2);
  background-image: linear-gradient(#477dca, #2760b2);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #1b4f9a;
  background-clip: padding-box;
  -webkit-font-smoothing: antialiased;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1em;
}
button:hover:not(:disabled),
input[type="submit"]:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 #628cc8;
  cursor: pointer;
  background-color: #3c71bb;
  background-image: -webkit-linear-gradient(#3c71bb, #255aa5);
  background-image: linear-gradient(#3c71bb, #255aa5);
}
button:active:not(:disabled),
input[type="submit"]:active:not(:disabled), button:focus:not(:disabled),
input[type="submit"]:focus:not(:disabled) {
  border: 1px solid #2459a6;
  box-shadow: inset 0 0 8px 4px #235397, inset 0 0 8px 4px #235397;
}
button:disabled,
input[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

body {
  color: #333333;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.65em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montez", cursive;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.475em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.925em;
}

h4 {
  font-size: 1.65em;
}

h5 {
  font-size: 1.375em;
}

h6 {
  font-size: 1.1em;
}

p {
  margin: 0 0 0.825em;
}

a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
a:hover {
  color: #2c5999;
}
a:active, a:focus {
  color: #2c5999;
  outline: none;
}

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.65em 0;
}

img {
  margin: 0;
  max-width: 100%;
}

abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 0.825em;
}

hgroup {
  margin-bottom: 0.825em;
}

del {
  color: #595959;
}

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.65em 0;
  padding-left: 0.825em;
}

cite {
  color: #737373;
  font-style: italic;
}
cite:before {
  content: '\2014 \00A0';
}

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.825em 0;
  padding: 1.65em;
}

input,
label,
select {
  display: block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1em;
}

label {
  font-weight: bold;
  margin-bottom: 0.4125em;
}
label.required:after {
  content: "*";
}
label abbr {
  display: none;
}

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1em;
  margin-bottom: 0.825em;
  padding: 0.55em 0.55em;
  width: 100%;
}
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: #c4c4c4;
}
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: #477dca;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.4125em;
}

input[type="file"] {
  width: 100%;
}

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.65em;
}

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

table {
  border-collapse: collapse;
  margin: 0.825em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.825em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.825em 0;
}

tr, td, th {
  vertical-align: middle;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
dl {
  line-height: 1.65em;
  margin-bottom: 0.825em;
}
dl dt {
  font-weight: bold;
  margin-top: 0.825em;
}
dl dd {
  margin: 0;
}

body {
  background: url("../img/bg_3.jpg");
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  body {
    font-size: 1.32em;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 1.32em;
  }
}

.ico {
  height: 25px;
}

.angular-google-map-container {
  height: 300px;
  border: 5px solid #545454;
}

.picture {
  border-radius: 150px;
  border: 3px solid white;
  height: 245px;
  margin: 0 20px;
}
.picture.small {
  height: 130px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .picture {
    height: 270px;
    margin: 0 10px;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.gallery {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
.gallery:after {
  content: "";
  display: table;
  clear: both;
}
.gallery .gallery-item {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  border: 10px solid white;
}
.gallery .gallery-item:last-child {
  margin-right: 0;
}
.gallery .rn-carousel-indicator {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
  background-color: rgba(255, 255, 255, 0);
  margin-top: 10px;
}
.gallery .rn-carousel-indicator:last-child {
  margin-right: 0;
}
.gallery .rn-carousel-control {
  color: white;
  font-size: 60px;
  font-weight: bold;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .gallery .gallery-item, .gallery .rn-carousel-indicator {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%;
    margin-left: 0%;
  }
  .gallery .gallery-item:last-child, .gallery .rn-carousel-indicator:last-child {
    margin-right: 0;
  }
  .gallery .gallery-item .rn-carousel-control, .gallery .rn-carousel-indicator .rn-carousel-control {
    color: white;
    font-size: 40px;
    font-weight: bold;
  }
}
@media screen and (max-width: 768px) {
  .gallery .gallery-item, .gallery .rn-carousel-indicator {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
    margin-left: 0%;
  }
  .gallery .gallery-item:last-child, .gallery .rn-carousel-indicator:last-child {
    margin-right: 0;
  }
  .gallery .rn-carousel-control {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
}

.header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 150px;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
.header .ribbon {
  width: 60%;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: initial;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e8e8e8));
  background: -webkit-linear-gradient(top, white, #e8e8e8);
  background: -moz-linear-gradient(top, white, #e8e8e8);
  background: -ms-linear-gradient(top, white, #e8e8e8);
  background: -o-linear-gradient(top, white, #e8e8e8);
  background-image: -ms-linear-gradient(top, white 0%, #e8e8e8 100%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
}
.header .ribbon h1 {
  font-size: 40px !important;
  color: #6b6b6b;
  text-shadow: #ffffff 0 1px 0;
  margin: 0px;
  padding: 5px 10px;
}
@media screen and (max-width: 768px) {
  .header .ribbon h1 {
    font-size: 20px !important;
  }
}
.header .ribbon:before, .header .ribbon:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #f0f0f0;
  z-index: -1;
  font-size: 18px !important;
}
.header .ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}
.header .ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px;
}
.header .ribbon .ribbon-content:before, .header .ribbon .ribbon-content:after {
  border-color: #b5b5b5 transparent transparent transparent;
  position: absolute;
  display: block;
  border-style: solid;
  bottom: -1em;
  content: '';
  font-size: 18px !important;
}
.header .ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.header .ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
.header .ribbon .ribbon-stitches-top {
  margin-top: 4px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}
.header .ribbon .ribbon-stitches-bottom {
  margin-bottom: 4px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}
.header .header-title {
  font-size: 100px;
  margin: 50px 50px 20px;
}
@media screen and (max-width: 768px) {
  .header .header-title {
    font-size: 50px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 100px;
  }
}

.card {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background: white url("../img/frenchstucco.png");
  height: 100%;
  box-shadow: 0 2px 10px #333;
  text-align: center;
  padding: 20px;
}
.card:after {
  content: "";
  display: table;
  clear: both;
}
.card .card-title {
  font-size: 80px;
  margin: 10px 0 40px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .card .card-title {
    font-size: 70px;
    margin: 10px 50px 20px;
  }
}
@media screen and (max-width: 768px) {
  .card .card-title {
    font-size: 50px;
    margin: 10px 0 20px;
  }
}
.card .weds {
  padding: 0 50px 0 50px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: center;
}
.card .weds:last-child {
  margin-right: 0;
}
.card .weds .wed {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  line-height: 30px;
}
.card .weds .wed:last-child {
  margin-right: 0;
}
.card .weds .wed.girl .picture {
  float: right;
}
.card .weds .wed.boy .picture {
  float: left;
}
.card .weds .wed .lettrine {
  font-family: "Montez", cursive;
  font-size: 40px;
  font-weight: bold;
  color: #377b00;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .card .weds .wed {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%;
    margin-bottom: 50px;
  }
  .card .weds .wed:last-child {
    margin-right: 0;
  }
  .card .weds .wed .picture {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 35.26334%;
    float: none;
    margin: 0;
  }
  .card .weds .wed .picture:last-child {
    margin-right: 0;
  }
  .card .weds .wed p {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 61.158%;
  }
  .card .weds .wed p:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .card .weds .wed {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .card .weds .wed:last-child {
    margin-right: 0;
  }
  .card .weds .wed.girl .picture {
    float: none;
  }
  .card .weds .wed.boy .picture {
    float: none;
  }
}
@media screen and (max-width: 768px) {
  .card .weds {
    padding: 0 0 0 0;
  }
}
.card .program {
  padding: 0 50px 0 50px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-bottom: 100px;
}
.card .program:last-child {
  margin-right: 0;
}
.card .program .program-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.card .program .program-content:last-child {
  margin-right: 0;
}
.card .program .program-content .program-header {
  color: #81305B;
}
.card .program .program-content .program-text {
  margin-bottom: 20px;
}
.card .program .program-content .program-text, .card .program .program-content .program-header {
  text-align: left;
}
.card .program .program-content .program-time, .card .program .program-content .program-address {
  float: left;
  display: block;
  margin-right: 4.82916%;
  width: 47.58542%;
}
.card .program .program-content .program-time:last-child, .card .program .program-content .program-address:last-child {
  margin-right: 0;
}
.card .program .program-content .program-title.small {
  font-size: 1.1em;
  font-weight: bolder;
  color: #545454;
}
.card .program .program-map {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.card .program .program-map:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .card .program .program-map {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
  }
  .card .program .program-map:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .card .program {
    padding: 0 0 0 0;
    margin-bottom: 40px;
  }
  .card .program .program-content {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
  }
  .card .program .program-content:last-child {
    margin-right: 0;
  }
  .card .program .program-content .program-text, .card .program .program-content .program-header {
    text-align: center;
  }
  .card .program .program-content .program-time, .card .program .program-content .program-address {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
    margin-bottom: 20px;
  }
  .card .program .program-content .program-time:last-child, .card .program .program-content .program-address:last-child {
    margin-right: 0;
  }
  .card .program .program-map {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
  }
  .card .program .program-map:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .card .program {
    padding: 0 0 0 0;
    margin-bottom: 40px;
  }
  .card .program .program-content {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%;
  }
  .card .program .program-content:last-child {
    margin-right: 0;
  }
  .card .program .program-content .program-text, .card .program .program-content .program-header {
    text-align: center;
  }
  .card .program .program-content .program-time, .card .program .program-content .program-address {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 48.21067%;
    margin-bottom: 20px;
  }
  .card .program .program-content .program-time:last-child, .card .program .program-content .program-address:last-child {
    margin-right: 0;
  }
  .card .program .program-map {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%;
  }
  .card .program .program-map:last-child {
    margin-right: 0;
  }
}
.card .hebergements {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-bottom: 20px;
}
.card .hebergements:last-child {
  margin-right: 0;
}
.card .hebergements .hebergements-intro {
  margin-bottom: 40px;
}
.card .hebergements .hebergements-item {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
.card .hebergements .hebergements-item:last-child {
  margin-right: 0;
}
.card .hebergements .hebergements-item .hebergements-address {
  text-align: left;
  margin-bottom: 10px;
}
.card .hebergements .hebergements-item .hebergements-address:hover {
  cursor: pointer;
  text-decoration: underline;
}
.card .hebergements .hebergements-item .hebergements-address div:first-of-type {
  font-size: 1.21em;
  font-weight: bolder;
  color: #545454;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .card .hebergements .hebergements-item {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 74.10533%;
    margin-left: 25.89467%;
  }
  .card .hebergements .hebergements-item:last-child {
    margin-right: 0;
  }
  .card .hebergements .hebergements-item .hebergements-address {
    margin: 0 0 0 160px;
  }
  .card .hebergements .hebergements-item button {
    margin: 0 0 60px 22px;
  }
}
@media screen and (max-width: 768px) {
  .card .hebergements .hebergements-item {
    float: left;
    display: block;
    margin-right: 4.82916%;
    width: 100%;
    font-size: 0.77em;
    line-height: 1.65em;
  }
  .card .hebergements .hebergements-item:last-child {
    margin-right: 0;
  }
  .card .hebergements .hebergements-item .hebergements-address {
    margin-left: 160px;
  }
  .card .hebergements .hebergements-item button {
    margin: 0 0 60px 0px;
  }
}

.dot_line {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  width: 70%;
  margin: 50px auto;
}
.dot_line:after {
  content: "";
  display: table;
  clear: both;
}
.dot_line .lines_dot {
  background: url(http://www.cmsandblogtemplates.com/tf/Wedding_Slide/v_2_0/images/dot_line.png) repeat-x left center;
  padding: 10px 0px;
  height: 26px;
  width: 100%;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .dot_line .lines_dot {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .dot_line .lines_dot {
    padding: 0;
  }
}
.dot_line .icon {
  font-size: 40px;
  color: white;
  text-align: center;
}

.left-picture {
  position: absolute;
  float: left;
  height: 200px;
  top: 30px;
  left: 50px;
  border: 3px solid #ffffff;
  border-radius: 150px;
  padding: 10px;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .left-picture {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .left-picture {
    display: none;
  }
}
