@charset "UTF-8";

@mixin separator($color, $width, $top) {
	color : $color;
	&-line {
		border: 0;
		border-top: 1px solid $color;
		display: inline-block;
		margin: $top 10px;
		width: $width;
	}
}
