@charset "UTF-8";

$red : #962C42;
$white : #fff;
$brown : #f5f4ec;
$blue : #196EAB;

$montez : 'Montez', cursive;
$josefinsans: 'Josefin Sans', sans-serif;

$base-font-family: $josefinsans;
$header-font-family: $montez;

$base-font-size: 1.1em;
$base-line-height: $base-font-size * 1.5;
