<!DOCTYPE html>
<html ng-app="ThierryEtClaire">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thierry & Claire</title>

    <!-- build:css css/ThierryEtClaire.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="vendor/normalize-css/normalize.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="css/app.css"/>
    <!-- endbuild -->

    <link href='https://fonts.googleapis.com/css?family=Montez' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

</head>
<body>

<div class="full-image-background">
	<section class="hero">
		<header class="hero-header">
			<h1>Claire & Thierry</h1>
			<p class="separator"><span class="separator-line"></span><i class="icon-heart"></i><span class="separator-line"></span></p>
			<p class="date">13 Juin 2015</p>
		</header>
	</section>
</div>

<header class="navbar">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-item-link" href="">Nous</a>
		</li>
		<li class="nav-item">
			<a class="nav-item-link" href="">Programme</a>
		</li>
		<li class="nav-item">
			<img class="nav-item-img" src="img/double-bonheur-white.png" alt=""/>
		</li>
		<li class="nav-item">
			<a class="nav-item-link" href="">Sponsor</a>
		</li>
		<li class="nav-item">
			<a class="nav-item-link" href="">RSVP</a>
		</li>
	</ul>
</header>

<!--section.block-container>section.block>header.block-header>h1{Festivités}+p.separator>span.separator-line+i.icon-heart+span.separator-line-->

<section class="block">
	<header class="block-header">
		<h1>Nous</h1>
		<p class="separator"><span class="separator-line"></span><i class="icon-heart"></i><span class="separator-line"></span></p>
	</header>

	<section class="block-body">
		<section class="columns">
			<section class="columns-main">
				<img class="avatar" src="img/claire-1.jpg" alt=""/>
				<h1>Claire Poisblaud</h1>
				<p class="columns-text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus illo impedit maxime nulla, officiis quibusdam quod reprehenderit tenetur! Ab aliquid assumenda cumque debitis dolores eaque eveniet natus praesentium sunt tenetur.</span></p>
			</section>
			<section class="columns-secondary">
				<img class="avatar" src="img/thierry-2.jpg" alt=""/>
				<h1>Thierry Lau</h1>
				<p class="columns-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem dolorem dolorum exercitationem facilis fugiat fugit, inventore magnam magni modi nobis nostrum numquam omnis quae quibusdam quos sint temporibus vitae?</p>
			</section>
		</section>
	</section>
</section>

<section class="block">
	<header class="block-header">
		<h1>Festivités</h1>

		<p class="separator"><span class="separator-line"></span><i class="icon-heart"></i><span
			class="separator-line"></span></p>
	</header>

	<section class="block-body">
		<section class="columns">
			<section class="column-main">
				<div class="card">
					<img class="card-img" src="img/mairie-bezannes.jpg" alt=""/>
					<div class="card-body">
						<h1 class="card-title">Cérémonie civile</h1>
						<p class="time">11h00</p>
						<div class="card-text">
							<div class="address">
								<h1 class="address-title"><i class="icon-pin"></i>Mairie de Bezannes</h1>
								<p class="address-text">1 rue Source de Muire</p>
								<p class="address-text">51726 Bezannes</p>
								<button class="address-button" ng-click="launchItinerary(position, step.location)">Itinéraire</button>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="column-secondary">
				<div class="card">
					<img class="card-img" src="img/eglise-bezannes.jpg" alt=""/>
					<div class="card-body">
						<h1 class="card-title">Cérémonie réligieuse</h1>
						<p class="time">15h00</p>
						<div class="card-text">
							<div class="address">
								<h1 class="address-title"><i class="icon-pin"></i>Mairie de Bezannes</h1>
								<p class="address-text">1 rue Source de Muire</p>
								<p class="address-text">51726 Bezannes</p>
								<button class="address-button" ng-click="launchItinerary(position, step.location)">Itinéraire</button>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="column-third">
				<div class="card">
					<img class="card-img" src="img/vilmart.jpg" alt=""/>
					<div class="card-body">
						<h1 class="card-title">Vin d'honneur</h1>
						<p class="time">16h00</p>
						<div class="card-text">
							<div class="address">
								<h1 class="address-title"><i class="icon-pin"></i>Mairie de Bezannes</h1>
								<p class="address-text">1 rue Source de Muire</p>
								<p class="address-text">51726 Bezannes</p>
								<button class="address-button" ng-click="launchItinerary(position, step.location)">Itinéraire</button>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="column-third">
				<div class="card">
					<img class="card-img" src="img/vilmart.jpg" alt=""/>
					<div class="card-body">
						<h1 class="card-title">Diner de mariage</h1>
						<p class="time">20h00</p>
						<div class="card-text">
							<div class="address">
								<h1 class="address-title"><i class="icon-pin"></i>Mairie de Bezannes</h1>
								<p class="address-text">1 rue Source de Muire</p>
								<p class="address-text">51726 Bezannes</p>
								<button class="address-button" ng-click="launchItinerary(position, step.location)">Itinéraire</button>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>
	</section>
</section>

<section class="block lifou">
	<section class="block-form">
		<header class="block-header">
			<h1>RVSP</h1>
			<p class="separator"><span class="separator-line"></span><i class="icon-heart"></i><span
				class="separator-line"></span></p>
		</header>
		<form action="">
			<div class="control-block">
				<label class="control-label" for="name">Nom et prénom</label>
				<input class="control-input" id="name" name="name" type="text"/>
			</div>
			<div class="control-block">
				<label class="control-label" for="email">Email</label>
				<input class="control-input" id="email" name="email" type="email"/>
			</div>
			<div class="control-block">
				<label class="control-label" for="phone">Téléphone</label>
				<input class="control-input" id="phone" name="phone" type="tel"/>
			</div>
			<div class="control-block">
				<div class="control-block-half">
					<label class="control-label" for="adult">Adultes</label>
					<input class="control-input" id="adult" type="tel"/>
				</div>
				<div class="control-block-half">
					<label class="control-label" for="child">Enfants</label>
					<input class="control-input" id="child" type="tel"/>
				</div>
			</div>
			<div class="control-actions">
				<button>Je participe</button>
			</div>
		</form>
	</section>
</section>

<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBkWq_y9-Y3JRYv5PGbkvyEzRVI75fA1o&sensor=false">
</script>

<!-- build:js js/ThierryEtClaire.js -->
<!-- bower:js -->
<script src="vendor/angular/angular.js"></script>
<script src="vendor/angular-touch/angular-touch.js"></script>
<script src="vendor/underscore/underscore.js"></script>
<script src="vendor/angular-google-maps/dist/angular-google-maps.js"></script>
<!-- endbower -->
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/services/geolocationService.js"></script>
<!-- endbuild -->

</body>
</html>
