@charset "UTF-8";

.block {
	padding: 40px 20px;

	@media (max-width: 650px){
		padding: 40px 10px;
	}

	&:nth-child(odd) {
		background-color: $white;
	}

	&:nth-child(even) {
		background-color: $brown;
	}

	&-header {
		text-align: center;
	}

	.separator {
		@include separator($red, 40px, 5px);
		margin-bottom: 20px;
	}

	&-form {
		background-color: $red;
		width: 450px;
		color: $white;
		padding: 20px 50px;
		border-radius: 5px;
		box-sizing: border-box;

		@media (max-width: 650px){
			width: 100%;
			padding: 20px 30px;
		}

		.separator {
			@include separator($white, 40px, 5px);
			margin-bottom: 20px;
		}

		&-button {
			@include button($blue);
		}

		&-message {
			background-color: #1BA1C0;
			width: 450px;
			height: 646px;
			color: $white;
			box-sizing: border-box;
			text-align: center;
			padding-top: 200px;
			font-size: 1.1em;

			&-title {
				margin-bottom: 20px;
			}
		}

	}

}
