@charset "UTF-8";

.card {
	padding-bottom : 20px;
	background-color: $white;
	border-radius: 10px;
	transition : box-shadow .25s ease;

	@media (max-width: 950px){
		margin-bottom: 20px;
	}

	@media (max-width: 650px){
		margin-top: 20px;
	}

	&:hover {
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}

	&-body {
		padding: 10px;
	}

	&-img {
		max-width:100%;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	&-title {
		font-family: $base-font-family;
		font-size: 1.3em;
	}

	&-text {
		margin-top: 20px;
	}
}
