@charset "UTF-8";

.columns {
	display : flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 50px;

	&:last-child {
		margin-bottom: 0;
	}
}
