@charset "UTF-8";


.control {
	&-block {
		margin-bottom: 20px;

		&-half {
			display: inline-block;
			width: 45%;

			&:nth-child(2) {
				float: right;
			}
		}
	}

	&-label {
		display: block;
		text-align: center;
	}

	&-input {
		width: 100%;
		color: $red;
	}

	&-actions {
		text-align: center;
	}
}
