@charset "UTF-8";


.flip {
	&-container {
		perspective: 1000px;
	}

	&-card {
		width: 450px;
		height: 646px;
		transform-style: preserve-3d;
		transition: transform 0.6s;
		position: relative;

		@media (max-width: 650px){
			width: 100%
		}

		&-item {
			width: 450px;
			height: 646px;
			backface-visibility: hidden;
			transition: 0.6s;
			transform-style: preserve-3d;

			@media (max-width: 650px){
				width: 100%
			}

			&.front {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				transform: rotateY( 0deg );
			}

			&.back {
				position: absolute;
				top: 0;
				left: 0;
				transform: rotateY( 180deg );

				.flip-button {
					position: absolute;
					top: 20px;
					right: 20px;
					font-size: 1.8em;

					-webkit-transition: transform 0.25s;
					-moz-transition: transform 0.25s;
					-ms-transition: transform 0.25s;
					-o-transition: transform 0.25s;
					transition: transform 0.25s;

					&:hover {
						cursor: pointer;
						transform-origin: 50% 50%;

						-webkit-transform: scale(1.25);
						-moz-transform: scale(1.25);
						-ms-transform: scale(1.25);
						-o-transform: scale(1.25);
						transform: scale(1.25);
					}
				}
			}
		}

		&.flipped {
			transform: rotateY( 180deg );
		}

	}

}

