@charset "UTF-8";

.rows {
	display : flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;
	text-align: center;

	@media (max-width: 650px){
		flex-direction: column;
	}

	&-item {
		margin: 0 50px 20px 0;

		@media (max-width: 650px){
			margin: 0 0 40px;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&-text {
		margin:0 80px;
	}
}
